html {
	background-color: #091125;
}

body {
	font-family: "Avenir-Roman";
	margin: 0;
	color: #091125;
}

a {
	text-decoration: none;
	color: inherit;
}

.menu {
	font-size: 18pt;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	text-align: right;
	background-color: #091125;
	visibility: visible;
}

.mobile-bar {
	visibility: hidden;
}

.mobile-menu {
	visibility: hidden;
}

.hamburger {
	visibility: hidden;
}

.menu nav {
	display: inline-block;
	padding-right: 12px;
}

.menu-item {
	vertical-align: middle;
	margin: 12px;
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
}

.content-title {
	font-size: 40pt;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	display: table;
	color: #fff;
}

#names-title {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.names-image {
 	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}


.centered {
	height: 100%;
	width: 100%;
	padding: 25% 0;
}

.centered-title {
	font-weight: bold;
	font-size: 40pt;
	vertical-align: middle;
	text-align: center;
}

.centered-subtitle {
	font-weight: lighter;
	font-size: 20pt;
	text-align: center;
}

.slide-section {
	width: 100%;
	height: 100vh;
}

.white {
	background-color: #fff;
}

.place {
	background: url("images/church.jpg");
	background-size: cover;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: #fffc;
}

.top-left-title {
	font-weight: bold;
	font-size: 40pt;
	padding-top: 70px;
	padding-left: 50px;
}

.top-left-title a:hover {
	color: #203450;
}

.top-left-subtitle {
	font-weight: lighter;
	font-size: 20pt;
	padding-top: 10px;
	padding-left: 50px;
}

.white-title {
	color: #fff;
}

.gifts-section {
	text-align: center;
	vertical-align: middle;
	line-height: 100vh;
	height: 100%;
}

.gift-link {
	width: 300px;
	height: 300px;
	max-width: 50%;
	display: inline-block;
	margin: 0 100px;
}

.fast-logo {
	background: url("images/fast-shop.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.camicado-logo {
	background: url("images/camicado.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.top-symbol {
		margin: 0 auto;
		position: absolute;
		width: 100%;
		height: 50px;
	  	background-image: url("images/symbol-transparent.png");
	  	background-repeat: no-repeat;
	  	background-position: center center;
	  	background-size: contain;
	  	top: 0px;
	}

/* MOBILE */

@media only screen and (max-width: 700px) {
  .names-image {
   	width: 100%;
   	object-fit: contain;
  }

  .menu {
  	visibility: hidden;
  }

  .mobile-menu {
  	visibility: visible;
  }

  .mobile-bar {
  	height: 50px;
  	width: 100%;
  	visibility: visible;
  	position: fixed;
  	background-color: #091125;
  	z-index: 98;
  }

  .hamburger {
  	  visibility: visible;
	  cursor: pointer;
	  position: absolute;
	  width: 48px;
	  height: 48px;
	  transition: all 0.25s;
	  z-index: 99;
	}

	.hamburger__top-bun,
	.hamburger__bottom-bun {
	  content: '';
	  display: block;
	  position: absolute;
	  left: 15px;
	  width: 18px;
	  height: 1px;
	  background: #fff;
	  transform: rotate(0);
	  transition: all 0.25s;
	}

	.hamburger:hover [class*="-bun"] {
	  background: #999;
	}

	.hamburger__top-bun {
	  top: 23px;
	  transform: translateY(-3px);
	}

	.hamburger__bottom-bun {
	  bottom: 23px;
	  transform: translateY(3px);
	}

	.open {
	  /*transform: rotate(90deg);*/
	}

	.open .hamburger__top-bun {
	  transform:
	    rotate(45deg)
	    translateY(0px);
	}

	.open .hamburger__bottom-bun {
	  transform:
	    rotate(-45deg)
	    translateY(0px);
	}

	.menu-open {
		height: 100vh !important;
		display: block !important;
		transition: 1s;
	}

	.mobile-menu {
		background-color: #091125;
		height: 0px;
		padding-top: 70px;
		position: fixed;
		width: 100%;
		display: none;
	}

	.mobile-menu-item {
		margin: 20px;
		color: #fff;
		display: none;
		border-bottom: solid 1px white;
	}

	.menu-open .mobile-menu-item {
		display: block;
	}

	.top-symbol {
		margin: 0 auto;
		position: absolute;
		width: 100%;
		height: 50px;
	  	background-image: url("images/symbol-transparent.png");
	  	background-repeat: no-repeat;
	  	background-position: center center;
	  	background-size: contain;
	}

}





















